.principal {
  height: 100vh;

  width: 50%;
  float: left;
  font-weight: normal;
  background-color: #fff;
}

.form_geral {
  margin: 101px 81px 0 164px;
  height: 350px;
}

.dados {
  background-color: #f6f6f7;
  width: 50%;
  height: 100vh;
  float: right;
  display: block;
}

.layout_2 img {
  margin: 3rem 6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.layout_2 {
  padding: 3rem 7rem;
  border-bottom: solid 2px #d450e03f;
  width: 100%;
  height: 157px;
}

.saldo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}

h2 {
  font-size: 2em;
  padding: 20px 0 20px 0;
  color: #312e2e;
}

.saldo_atual {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}

.text_chequesp {
  color: #312e2e;
}

.saldo strong {
  font-size: 1.2em;
  color: #07ea7d;

  margin-left: 10px;
}

.saldo_atual strong {
  font-size: 1em;
  color: #07ea7d;
  margin: 0 0 0 8px;
}

.img_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

h1 {
  font-size: 35px;
}

.botoes div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 70px;

  color: #66565cb2;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-top: solid 2px rgba(0, 0, 0, 0.123);
  border-right: solid 2px rgba(0, 0, 0, 0.123);
  transition: 0.1s;
}

.botoes div.button_actived {
  background-image: linear-gradient(to top, #e3141ece, #9719a3e3);
  color: #fff;
  border: 0;
}

.botoes div img {
  padding-right: 5px;
}

.transaction_all {
  color: #312e2e;
  font-size: 1.2rem;

  margin-left: 70px;

  width: 45em;
  overflow: hidden;
  overflow-y: scroll;
  height: 75vh;
}

.img_logo {
  width: 100%;
}

::-webkit-scrollbar {
  background-color: #ae1abb69;
  width: 0.5rem;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #ae1abb;
  border-radius: 4px;
}

.transaction_all strong {
  position: fixed;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.04);

  backdrop-filter: blur(4px);
  font-size: 2em;

  bottom: 3px;
  border-radius: 10px;

  width: 364px;
  height: 66px;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.deposito {
  border-bottom: 1px solid #d450e042;
  line-height: 30px;
}

.last_transactions {
  font-size: 18px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  margin: 30px 200px 26px 0;
}

.last_transactions span {
  font-weight: bold;
}

div.border {
  width: 65%;
  border-bottom: 2px solid #d450e03f;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 40px;
  margin-right: 1rem;
}

.botoes {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 50%;
}

.botao {
  font-size: 1.5em;
  margin-top: 2rem;
  padding: 0.4rem;
  background-image: linear-gradient(to top, #e3141ece, #9719a3e3);
  border: 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 100%;
  height: 52px;
}

@media (min-width: 300px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .principal {
    width: 100%;
    height: 41vh;

    height: 39vh;
  }

  .res {
    opacity: 0;
    background-color: #2dff992f;
    color: #21c275;
    font-weight: bold;
    text-align: center;
    width: 300px;
    font-size: 1rem;
    transition: 0.4s;
    margin-top: 10px;
  }

  .res.actived {
    opacity: 1;
  }

  /* aviso-error */
  .resp {
    opacity: 0;
    background-color: rgba(245, 7, 7, 0.212);
    color: rgb(252, 0, 0);
    font-weight: bold;
    text-align: center;
    width: 300px;
    font-size: 1rem;
    transition: 0.4s;
    margin-top: 10px;
  }

  .resp.actived2 {
    opacity: 1;
  }

  .botoes {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }

  /* .campo input {
    width: 300px;
  } */

  .botao {
    width: 300px;
  }

  .dados {
    width: 100%;
    margin-top: 232px;
  }
}

@media (max-width: 1046px) {
  .layout_2 img {
    display: none;
  }

  .transaction_all {
    padding: 2rem 3rem;
  }

  .transaction {
    width: 100%;
  }
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.itemPhoto img {
  width: 79px;
  height: 81px;
  border: 4px solid #df00ff;
  border-radius: 80px;
}

/* aviso-successful */
.res {
  opacity: 0;
  background-color: #2dff992f;
  color: #21c275;
  font-weight: bold;
  text-align: center;
  width: 18rem;
  font-size: 1rem;
  transition: 0.4s;
  margin-top: 10px;
}

.res.actived {
  opacity: 1;
}

/* aviso-error */
.resp {
  opacity: 0;
  background-color: rgba(245, 7, 7, 0.212);
  color: rgb(252, 0, 0);
  font-weight: bold;
  text-align: center;
  width: 18rem;
  font-size: 1rem;
  transition: 0.4s;
  margin-top: 10px;
}

.resp.actived2 {
  opacity: 1;
}
