.main {
  height: 100vh;
  display: flex;
  width: 50%;
  float: left;
  font-weight: normal;
  background-color: #fff;
  flex-direction: column;
  align-items: stretch;
}

.form_geral {
  padding-left: 101px;
  padding-right: 101px;
  height: 350px;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data {
  background-color: #f6f6f7;
  width: 50%;
  height: 100vh;
  float: right;
  display: block;
}

.layout_2 img {
  margin: 3rem 6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.layout_2 {
  padding: 3rem 7rem;
  border-bottom: solid 2px #d450e03f;
  width: 100%;
  height: 186;
}

.saldo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}

h2 {
  font-size: 2em;
  padding-top: 20px;
  color: #312e2e;
}

.saldo_atual {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}

.text_chequesp {
  color: #312e2e;
}

.saldo strong {
  font-size: 1.2em;
  color: #07ea7d;

  margin-left: 10px;
}

.saldo_atual strong {
  font-size: 1em;
  color: #07ea7d;
  margin: 0 0 0 8px;
}

.img_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

h1 {
  font-size: 35px;
}

.button div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 70px;

  color: #66565cb2;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-top: solid 2px rgba(0, 0, 0, 0.123);
  border-right: solid 2px rgba(0, 0, 0, 0.123);
  transition: 0.1s;
}

.button div.button_actived {
  background-image: linear-gradient(to top, #e3141ece, #9719a3e3);
  color: #fff;
  border: 0;
}

.button div img {
  padding-right: 5px;
}

.transaction_all {
  color: #312e2e;
  font-size: 1.2rem;

  margin-left: 70px;

  width: 76rem;
  overflow: hidden;
  overflow-y: scroll;
  height: 50vh;
  margin-top: 20px;
}

.img_logo {
  width: 100%;
}

.title {
  color: #9719a3e3;
  font-weight: normal;
}

::-webkit-scrollbar {
  background-color: #ae1abb69;
  width: 0.5rem;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #ae1abb;
  border-radius: 4px;
}

.transaction_all strong {
  position: fixed;

  background-color: rgba(255, 255, 255, 0.04);

  backdrop-filter: blur(4px);
  font-size: 2em;

  bottom: 3px;
  border-radius: 10px;

  width: 364px;
  height: 276px;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.deposito {
  border-bottom: 1px solid #d450e042;
  line-height: 30px;
}

.last_transactions {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 30px 200px 26px 0;
}

.last_transactions span {
  font-weight: bold;
}
.color_transactionwithdraw {
  color: red;
}
.color_transactiondeposit {
  color: #07ea7d;
}

div.border {
  width: 65%;
  border-bottom: 2px solid #d450e03f;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 40px;
  margin-right: 1rem;
}

.button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 50%;
}

.buttontransactions {
  font-size: 1.5em;
  margin-top: 2rem;
  padding: 0.4rem;
  background-image: linear-gradient(to top, #e3141ece, #9719a3e3);
  border: 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 100%;
  height: 52px;
}
.displaynone {
  display: none;
}

@media (max-width: 40rem) {
  .form_geral {
    padding-left: 20px;
    padding-right: 20px;
  }
  .transaction_all {
    width: 100%;
    margin-left: 0px;
  }
  .scroll_transactions {
    margin-left: 2.2rem;
  }

  .last_transactions p {
    margin-right: 70px;
  }
  .layout_2 {
    padding: 3rem 3rem;
  }
  .transaction_all strong {
    background-color: none;
    backdrop-filter: none;
  }
  .button {
    position: relative;
  }

  .data {
    width: 100%;
  }

  .main {
    width: 100vw;
    height: 64vh;
    background-color: #07ea7d;
  }
  .button {
    width: 100%;
  }

  .buttontransactions {
    margin-bottom: 14rem;
  }
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.itemPhoto {
  display: flex;
}

.itemPhoto svg {
  width: 79px;
  height: 81px;
  border: 4px solid #df00ff52;
  border-radius: 80px;
  padding: 1.1rem;
}
.icongoout {
  background-color: red;
}
.itemPhoto svg > * {
  fill: #333;
}
